<div class= "postinfo">

  <% @posts.each do |post| %>
    <div class = "eachpost">
      <ul>
      <li><img src= "<%= post.photo_url %>"></li>
      <li><%= post.name %></li>
      <li><%= post.description %></li>

        <div class = "userlinks">
          <div><%= link_to 'show  |', post_path(post) %> </div>
          <div><%= link_to 'edit  |', edit_post_path(post)%> </div>
          <div><%= link_to 'delete', post_path(post),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></div>
        </div>
      </ul>
    </div>

  <% end %>
</div>
