
<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<img src= "post.photo_url">

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Resume:</strong>
  <%= @post.resume %>
</p>

<%= link_to 'Back', posts_path %> |
<%= link_to 'Edit', edit_post_path(@post)%>
