
<div class = "showpage">


  <img src= "<%= @post.photo_url %>">
<div class = "showinfo">
<p id = "name">
  <strong></strong>
  <%= @post.name %>
</p>

<p class = "info">
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p class = "info">
  <strong>Resume link:</strong>
  <a><%= @post.resume %></a>
</p>
</div>

<div class = "bottomlinks">
<%= link_to 'Back |', posts_path %>
<%= link_to 'Edit', edit_post_path(@post)%>
</div>

<div class = "comments">
  <h4> What can I improve on? </h4>
  <%= render 'comments/form' %>

  <div class ="blurb">
      <%= render @post.comments%>
  </div>
</div>



</div>
