
<div class = "showpage">


  <img src= "<%= @post.photo_url %>">
<div class = "showinfo">
<p id = "name">
  <strong></strong>
  <%= @post.name %>
</p>

<p class = "info">
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p class = "info">
  <strong>Resume link:</strong>
  <a><%= @post.resume %></a>
</p>
</div>

<div class = "comments">

  <div class ="blurb">
      <h3>C O M M E N T S</h3>
      <%= render @post.comments%>
  </div>

<h3>Add your tips and changes here:</h3>
  <%= render 'comments/form' %>
</div>

  <div class = "bottomlinks">
  <%= link_to 'Back |', posts_path %>
  <%= link_to 'Edit', edit_post_path(@post)%>
  </div>

</div>
