<!DOCTYPE html>
<html>
  <head>
    <title>Halp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  </head>


  <body>

    <nav class = "topnav">
    <h1><%=link_to 'H A L P', posts_path%> </h1>
    <%= link_to 'New Post', new_post_path %>
    <%= link_to "Sign In", sessions_path%>
    <%= link_to "Sign Out", sessions_path, method: :delete %>
    </nav>

    <%= yield %>
  </body>

  <nav class = "bottomnav">
    <a class = "bottomlink" href = "github.com">Github</a>
  </nav>
</html>
