<!DOCTYPE html>
<html>
  <head>
    <title>Halp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">

  </head>


  <body>

    <nav class = "topnav">
    <h1><%=link_to 'H A L P', posts_path%> </h1>

      <% if @current_user %> 
        <%= link_to("New Post", new_post_path(@post))%>
      <% end %>


    <div class = "signlinks">
      <% if @current_user %>
      <%= link_to "Welcome, #{@current_user.username}!", user_path(@current_user) %>
      <%= link_to "Sign Out", session_path, method: :delete %>
      <% else %>
      <%= link_to "Sign Up", new_user_path %>
      <%= link_to "Sign In", new_session_path %>
      <% end %>
    </div>
    </nav>

    <%= yield %>
  </body>

    <nav class = "bottomnav">
      <a class = "bottomlink" href = "github.com">Github</a>
    </nav>

</html>
