<!DOCTYPE html>
<html>
  <head>
    <title>Halp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:100" rel="stylesheet">


  </head>


  <body>
    <nav class = "topnav">
    <h1><%=link_to 'H A L P', posts_path%> </h1>
    <% if user_signed_in? %>
      <%= link_to("New Post", new_post_path(@post))%>
    <% end %>

    <div class>
    <% if user_signed_in? %>
      <%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
    <% end %>
    </div>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if user_signed_in? %>
    <% else %>
    <div class="aboutHalp"><h1 class="yellow">What is Halp?</h1>  <div class="about"> The only application where
      you can get real live tips on how to better your brand. We are all looking to better ourselves, stay ahead and stand out. What better way than to get real feedback from our users! <span class ="blue">Register, post what you want reviewed by other users and see what you can improve on!<span></div> </div>
    <% end %>

    <%= yield %>

  </body>
  <% if user_signed_in? %>
    <nav class = "bottomnav">
      <a class = "bottomlink" href = "github.com">Github</a>
    </nav>
  <% end %>
</html>
